Repository tf-scaleway-modules/terraform-scaleway-secrets-and-keys: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-fmt, terraform-docs

tofu-fmt:
  name: OpenTofu Format
  language: system
  entry: bash -c '$HOME/.local/share/mise/shims/tofu fmt -recursive -diff'
  pass_filenames: false

terraform-docs:
  name: Terraform Docs
  language: system
  entry: bash -c '$HOME/.local/share/mise/shims/terraform-docs markdown table --output-file README.md --output-mode inject .'
  pass_filenames: false

Refactors module for secrets and keys management
  README.md
  data.tf
  examples/complete/main.tf
  examples/complete/outputs.tf
  examples/minimal/main.tf
  examples/minimal/outputs.tf
  locals.tf
  main.tf
  outputs.tf
  variables.tf
Due: tofu-fmt, terraform-docs

Updates key algorithm naming and defaults
  README.md
  examples/complete/main.tf
  examples/minimal/main.tf
  main.tf
  variables.tf
Due: tofu-fmt, terraform-docs

Updates scaleway provider version
  README.md
Due: terraform-docs

Adds CI/CD pipelines for validation and releases
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitlab/release.yml
  .pre-commit-config.yaml
  mise.toml
Due: none

Removes git-cliff pre-commit hook
  .pre-commit-config.yaml
Due: none

Adjust Scaleway provider constraint and disable unused local
  README.md
  locals.tf
Due: tofu-fmt, terraform-docs

Path conditions:
  tofu-fmt: any of: \.tf$
  terraform-docs: any of: (\.tf|README\.md)$
